body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0px;
    background:url('https://images.pexels.com/photos/2680270/pexels-photo-2680270.jpeg?auto=compress&cs=tinysrgb&w=600')no-repeat center center;
    background-size: cover;
}

header {
    background: url('https://images.pexels.com/photos/2680270/pexels-photo-2680270.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 15%;
    margin:auto;
    padding: 0px;
    display: flex;
    align-items: center;
    position: fixed;
}
footer {
    background-color: #0f78b4;
    color: #fff;
    font-family: fantasy;
    text-align: center;
    padding: 10px;
    font-weight: 1000px;
}
footer a{
    background-color: #0f78b4;
    color: #fff;
    font-family: fantasy;
    text-align: center;
    padding: 10px;
    font-weight: 1000px;
}
.contenido-del-inicio h1, h2{
    color: green;
    text-decoration-line: underline;
}
.contenido-del-inicio {
    background-color: none;
    background: url('assets/fondo\ sapatos\ marrones.jpg');
    background-size: cover;
    margin-top: 0px;
    padding: 100px;
    color: green;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0  white,
    -1px  1px 0 white,
    1px  1px 0  white;
    font-style: normal;
}
.contenido-del-inicio2 {
    background-color: none;
    background: url('assets/fondo\ con\ ropa.jpg');
    background-size: cover;
    margin-top: 0px;
    padding: 100px;
    color: green;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0  white,
    -1px  1px 0 white,
    1px  1px 0  white;
    font-style: normal;
}
.contenido-del-medio{
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 10px;
    padding: 30px;
    color: green;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0  white,
    -1px  1px 0 white,
    1px  1px 0  white;
    font-style: normal;
}
.Celdas h2{
    color: green;
    text-decoration-color: red;
    width: 100%;
    text-decoration-line: underline;
    text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0  white,
    -1px  1px 0 white,
    1px  1px 0  white;
    font-style: normal;
    
}
.Celdas {
    background: url('assets/fondo\ maxivo\ de\ ropa.jpg');
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 98.05%;
    margin-top: 0px;
    margin-left: -1.8px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding: 0px;
}


.logo img {
    max-height: 100px;
}

.navigation a {
    font-size: 20px;
    text-decoration-line: underline;
    color: lightgreen;
    margin-left: 40px;
}
.content-container {
    display: flex;
    background-color: none;
    flex-direction: column;
    align-items: center;
}


.about-section {
    margin-top: 0px;
}
.featured-products {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.product {
    margin: 20px;
    text-align: center;
}

.product img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}
.product h1 {
    color: white;
    font-weight: bold;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0  black,
    -1px  1px 0 black,
    1px  1px 0  black;
}
.product h3 {
    text-decoration-line: underline;
    font-weight: bold;
    color: green;
    margin-top: 10px;
    text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0  white,
    -1px  1px 0 white,
    1px  1px 0  white;
    font-style: normal;
}
.product .price {
    font-weight: bold;
    color: #01e659;
}
.Seccion-Formulario{
    margin-top: 70px;
    background: url('assets/Zapatos\ Zapatudo\ fondo\ 2.jpg') center no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    width: 98.05%;
    margin-top: 0px;
    margin-right: -155px;
    margin-left: -1.8px;
}
.formulario{
    margin-top: 170px;
    height: 900px;
    width: 1000px;
    text-align: center;
    font-size: 40px;
    margin-right: 0px;
    margin-left: 0px;
}
.formulario h1, label{
    text-decoration-line: underline;
    font-weight: bold;
    color: green;
    margin-top: 10px;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0  black,
    -1px  1px 0 black,
    1px  1px 0  black;
    font-style: normal;
}
.formulario input{
    font-size: 25px;
    align-items: center;
}

