body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://thezanax.github.io/Mi-pagina.io/main/assets/fondo\ maxivo\ de\ ropa.jpg') no-repeat center center;
    background-size: cover;
    width: auto;
    height: auto;
}

header {
    background: url('https://images.pexels.com/photos/2680270/pexels-photo-2680270.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat center center;
    background-size: cover;
    color: #c920f3d7;
    width: 100%;
    height: auto;
    margin:auto;
    padding: 0px;
    display: flex;
    align-items: center;
    position: fixed;
}
footer {
    background-color: #3516e6;
    color: #fff;
    font-family: fantasy;
    text-align: center;
    padding: 10px 0;
}
h2{
    color: lawngreen;
    text-decoration-color: blue;
    width: 100%;
    text-decoration-line: underline;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 69%;
    padding: 0px;
}
.banner {
    text-align: center;
    padding: 0px;
    margin-top: 80px;
}

.logo img {
    max-height: 100px;
}

.navigation a {
    font-size: 20px;
    text-decoration-line: underline;
    color: lightgreen;
    margin-left: 18px;
}

.content-container {
    display: flex;
    background-color: none;
    flex-direction: column;
}

.middle-content {
    flex-grow: 1;
    background-color: none;
    padding: 20px;
}

.main-content {
    padding: 0px;
    margin: 0;
}

footer {
    background-color: #3516e6;
    color: #fff;
    font-family: fantasy;
    text-align: center;
    padding: 10px 0;
}

.main-content {
    padding: 20px;
}
.about-section {
    margin-top: 0px;
}
.featured-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.product {
    margin: 20px;
    text-align: center;
}

.product img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}
.product h2 {
    margin-top: 2000px;
}
.product h3 {
    text-decoration-line: underline;
    color: lawngreen;
    margin-top: 10px;
}
.product .price {
    font-weight: bold;
    color: #01e659;
}
