body {
    font-family: "Playfair Display", serif;
    margin: 0%;
    padding: 0px;
}
a {
    text-decoration: none;
}
header {
    background-color: rgb(0, 0, 0,0.5);
    background-size: cover;
    width: 100%;
    height: 15%;
    margin:auto;
    padding: 0px;
    display: flex;
    align-items: center;
    position: fixed;
}
header a {
    color: white;
}
footer {
    background-color: #000000;
    color: #fff;
    font-family: fantasy;
    text-align: center;
    padding: 10px;
    font-weight: 1000px;
}
footer a{
    background-color: #0f78b4;
    color: #fff;
    font-family: fantasy;
    text-align: center;
    padding: 10px;
    font-weight: 1000px;
}
.contenido-del-inicio h1, h2{
    color:  rgb(255, 255, 255);
    text-decoration-line: none;
}
.contenido-del-inicio {
    background: url('assets/Fondo\ Ladrillos.jpg');
    background-size: cover;
    margin-top: 0px;
    padding: 100px;
    color: rgb(255, 255, 255);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0  black,
    -1px  1px 0 black,
    1px  1px 0  black;
    font-style: normal;
}
.contenido-del-inicio2 {
    background-color: lightblue;
    background-size: cover;
    margin-top: 0px;
    padding: 100px;
    color: rgb(255, 255, 255);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0  black,
    -1px  1px 0 black,
    1px  1px 0  black;
    font-style: normal;
}
.contenido-del-medio{
    background-color: white;
    text-align: center;
    text-decoration-line: none;
    margin-bottom: 10px;
    padding: 30px;
    color: black;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0  white,
    -1px  1px 0 white,
    1px  1px 0  white;
    font-style: normal;
}
.Celdas h2{
    color: rgb(255, 255, 255);
    text-decoration-color: red;
    width: 100%;
    text-decoration-line: none;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0  black,
    -1px  1px 0 black,
    1px  1px 0  black;
    font-style: normal;
    
}
.Celdas {
    background: url('assets/ladrillos\ blancos.jpg');
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    margin-left: -1.8px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding: 0px;
}


.logo img {
    max-height: 100px;
}

.navigation a {
    font-size: 20px;
    text-decoration-line: none;
    color: lightblack;
    margin-left: 40px;
}
.content-container {
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
}
.content-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.about-section {
    margin-top: 0px;
}
.featured-products {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.product {
    margin: 20px;
    text-align: center;
}

.product img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}
.product h1 {
    color: white;
    font-weight: bold;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0  black,
    -1px  1px 0 black,
    1px  1px 0  black;
}
.product h3 {
    text-decoration-line: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0  black,
    -1px  1px 0 black,
    1px  1px 0  black;
    font-style: normal;
}
.product .price {
    font-weight: bold;
    color: #01e659;
}
.Seccion-Formulario{
    background: url('assets/Fondo\ Ladrillos.jpg');
    margin-top: 70px;
    background-size: cover;
    text-align: center;
    display: flex;
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: -80px;
}
.formulario{
    margin-top: 170px;
    height: 900px;
    width: 1000px;
    text-align: center;
    font-size: 40px;
    margin-right: 0px;
    margin-left: 0px;
}
.formulario h1, label{
    text-decoration-line: none;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0  black,
    -1px  1px 0 black,
    1px  1px 0  black;
    font-style: normal;
}
.formulario input{
    font-size: 25px;
    align-items: center;
}
.Fondo{
    background: url('assets/Fondo\ Ladrillos.jpg');
    background-size: cover;
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0  black,
    -1px  1px 0 black,
    1px  1px 0  black;
}
.Fondo h2{
    color: rgb(255, 255, 255);
}
.Redes {
    display: flex;
    flex-direction:row-reverse;
}
.Redes img{
    display: flex;
    flex-direction: row;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin-top: -30px;
}
.RedesB {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin-top: -190px;
}
.RedesB img{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin-top: -30px;
}
.Redes1{
    margin-top: -50px;
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    width: auto;
}
.Redes1 img{
    display: flex;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    margin-top: -30px;
}
.Redes2{
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
}
.Redes2 img{
    display: flex;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    margin-top: -30px;
}

.Fondo{
    background: url('assets/Fondo\ los\ 80.jpg') center no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0  white,
    -1px  1px 0 white,
    1px  1px 0  white;
}
.Redes {
    display: flex;
    flex-direction:row-reverse;
}
.Redes img{
    display: flex;
    flex-direction: row;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin-top: -30px;
}
.RedesB {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin-top: -190px;
}
.RedesB img{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin-top: -30px;
}
.Redes1{
    margin-top: -50px;
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    width: auto;
}
.Redes1 img{
    display: flex;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    margin-top: -30px;
}
.Redes2{
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
}
.Redes2 img{
    display: flex;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    margin-top: -30px;
}



